<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
  </head>
  <body>
    <footer>
      <div class="footer-sections">
        <section>
          <h3>소개</h3>
          <ul>
            <li>あちこちうち 이용 방법</li>
            <li>뉴스룸</li>
            <li>あちこちうち 2025</li>
            <li>투자자 정보</li>
            <li>あちこちうち 플러스</li>
            <li>あちこちうち 비즈니스 프로그램</li>
            <li>호스트 분들이 있기에 가능합니다</li>
            <li>채용정보</li>
            <li>창립자 편지</li>
          </ul>
        </section>
        <section>
          <h3>커뮤니티</h3>
          <ul>
            <li>다양성 및 소속감</li>
            <li>접근성</li>
            <li>게스트 추천</li>
            <li>Achiko.site</li>
          </ul>
        </section>
        <section>
          <h3>호스팅하기</h3>
          <ul>
            <li>숙소 호스팅</li>
            <li>온라인 체험 호스팅하기</li>
            <li>체험 호스팅하기</li>
            <li>책임감 있는 호스팅</li>
            <li>자료 센터</li>
            <li>커뮤니티 센터</li>
          </ul>
        </section>
        <section>
          <h3>あちこちうち 지원</h3>
          <ul>
            <li>도움말 센터</li>
            <li>예약 취소 옵션</li>
            <li>신뢰와 안전</li>
          </ul>
        </section>
      </div>
      <div class="company-description">
        <div class="Inc">
          © 2025 Achiko, Inc.<span>·</span><a href="#">개인정보 처리방침</a
          ><span>·</span><a href="#">이용약관</a><span>·</span
          ><a href="#">사이트맵</a><span>·</span
          ><a href="#">한국의 변경된 환불 정책</a><span>·</span
          ><a href="#">회사 세부정보</a>
        </div>
        <div class="icons">
          <div class="icons-left">
            <div>
              <button class="btn-wrap">
                <i class="fas fa-globe"></i>
                <div>한국어 (KR)</div>
              </button>
            </div>
            <div>
              <button class="btn-wrap">
                <i class="fas fa-won-sign"></i>
                <div>KRW</div>
              </button>
            </div>
          </div>
          <div class="icons-right">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
