<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
  </head>
  <body>
    <footer>
      <div class="footer-sections">
        <!-- 프로젝트 개요 -->
        <section>
          <h3>프로젝트 개요</h3>
          <ul>
            <li>
              <a
                href="https://bonkri.notion.site/1b7c310b84a1810b99cad6a84346ec3f"
                target="_blank"
                >개발 문화</a
              >
            </li>
            <li>
              <a
                href="https://bonkri.notion.site/1b7c310b84a1810b99cad6a84346ec3f"
                target="_blank"
                >프로젝트 기획서</a
              >
            </li>
            <li>
              <a
                href="https://bonkri.notion.site/1b7c310b84a1810b99cad6a84346ec3f"
                target="_blank"
                >프로젝트 공정도</a
              >
            </li>
          </ul>
        </section>

        <!-- 문서 자료 -->
        <section>
          <h3>문서 자료</h3>
          <ul>
            <li>
              <a
                href="https://bonkri.notion.site/1b7c310b84a1810b99cad6a84346ec3f"
                target="_blank"
                >테이블 명세서 및 ERD</a
              >
            </li>
            <li>
              <a
                href="https://bonkri.notion.site/1b7c310b84a1810b99cad6a84346ec3f"
                target="_blank"
                >요구사항 명세서</a
              >
            </li>
            <li>
              <a
                href="https://bonkri.notion.site/1b7c310b84a1810b99cad6a84346ec3f"
                target="_blank"
                >UI 설계서</a
              >
            </li>
          </ul>
        </section>

        <!-- 개발 과정 -->
        <section>
          <h3>개발 과정</h3>
          <ul>
            <li>
              <a
                href="https://bonkri.notion.site/1b7c310b84a1810b99cad6a84346ec3f"
                target="_blank"
                >UCC</a
              >
            </li>
            <li>
              <a
                href="https://bonkri.notion.site/1b7c310b84a1810b99cad6a84346ec3f"
                target="_blank"
                >주간 회고</a
              >
            </li>
          </ul>
        </section>

        <!-- 기타 자료 -->
        <section>
          <h3>기타 자료</h3>
          <ul>
            <li>
              <a
                href="https://bonkri.notion.site/1b7c310b84a1810b99cad6a84346ec3f"
                target="_blank"
                >오픈소스 라이선스</a
              >
            </li>
            <li>
              <a
                href="https://bonkri.notion.site/1b7c310b84a1810b99cad6a84346ec3f"
                target="_blank"
                >연락처</a
              >
            </li>
          </ul>
        </section>
      </div>

      <div class="company-description">
        <div class="Inc">
          © 2025 Achiko, Inc.<span>·</span>
          <a href="#"
            >본 서비스는 비영리 교육용 프로젝트로, 테스트 목적으로 운영되며,
            모든 데이터는 프로젝트 종료 후 영구 삭제됩니다.</a
          >
        </div>
        <div class="icons">
          <div class="icons-left">
            <div>
              <button class="btn-wrap">
                <i class="fas fa-globe"></i>
                <div>한국어 (KR)</div>
              </button>
            </div>
            <div>
              <button class="btn-wrap">
                <i class="fas fa-won-sign"></i>
                <div>KRW</div>
              </button>
            </div>
          </div>
          <div class="icons-right">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
