header {
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  z-index: 9999;
  background-color: white;
  font-family: "Noto Sans KR", "Noto Sans JP", sans-serif;
}
/* 헤더 로고 */
#header-logo {
  width: 180px;
  height: 50px;
}

/* header animation */
header.sticky {
  background: white;
  color: black;
}

header.sticky .sticky-pink {
  fill: rgb(255, 56, 92);
}

header.sticky .sticky-black {
  color: black;
  fill: black;
}

header.sticky .header-form {
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-name: slideUp;
}

header.sticky-reappear .header-form {
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-name: slideDown;
}

@keyframes slideDown {
  from {
    transform: scale(0.8, 0.8) translateY(-90px);
    display: none;
  }
  to {
    transform: scale(1, 1) translateY(0px);
    display: flex;
  }
}

@keyframes slideUp {
  from {
    transform: scale(1, 1) translateY(0px);
    display: flex;
  }
  to {
    transform: scale(0.8, 0.8) translateY(-90px);
    display: none;
  }
}

header.sticky .simple-query-form {
  animation-name: showEffect;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

header.sticky-reappear .simple-query-form {
  animation-name: hideEffect;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes showEffect {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

@keyframes hideEffect {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}

/* -------------- */

.header-col {
  flex: 1 1 33%;
}

.header-col:first-child {
  /* 로고 영역: 고정 너비 사용 */
  flex: 0 0 auto;
}

/* .header-col ul {
  display: flex;
  justify-content: center;
}  */

.header-col ul li {
  list-style: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 20px;
}

/* .header-col ul li:hover {
  opacity: 0.5;
} */

/* .header-col ul li:first-child span {
  padding: 10px 0;
  border-bottom: 1px solid white;
} */

/* .header-col ul li:hover {
  cursor: pointer;
} */

.header-col ul li:hover span,
.header-col ul li:hover a {
  padding: 10px 0;
  border-bottom: 1px solid white;
}

/* .header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: black;
  font-weight: 700;
  font-size: 14px;
} */

.header-nav {
  /* 오른쪽 영역: 내용에 맞게 크기 조절 */
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.header-nav-left {
  flex-grow: 1;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 15px;
}

.header-nav-left a {
  margin: 0 15px;
}

.header-nav-left button {
  display: flex;
  background: none;
  border: none;
  fill: black;
}

/* .header-nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77px;
  height: 42px;
} */

.header-nav-right {
  /* 고정 너비 대신 내부 여백으로 조정 */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background: white;
  cursor: pointer;
}

.header-nav-right button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 20px;
  padding: 5px;
  gap: 0.5rem;
  cursor: pointer;

  border: 1px solid rgb(221, 221, 221);
}

#hamburger {
  display: block;
  fill: none;
  height: 16px;
  width: 16px;
  stroke: currentcolor;
  stroke-width: 3;
  overflow: visible;
}

#menuButton {
  padding: 0.5rem;
}

.icon-list {
  margin-left: 3px;
}

.icon-user-circle {
  fill: gray;
  width: 28.69px;
  height: 28.69px;
}

.header-form {
  /* 중앙 영역: 여유 공간 모두 사용 */
  display: flex;
  justify-content: center;
  text-align: center;
}

.query-form {
  position: absolute;
  top: 80px;
  width: 800px;
  border-radius: 50px;
  background-color: white;
  display: grid;
  white-space: nowrap;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto 1fr auto 1fr auto 1fr 0.5fr;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header.sticky-reappear .query-form {
  display: flex; /* query-form을 표시 */
}

header.sticky-reappear + main {
  padding-top: 70px; /* query-form 높이만큼 main을 아래로 밀어내기 */
}

.query-col {
  flex-grow: 1;
}

.query-location {
  padding: 10px 24px;
}

.query-location input {
  border: none;
  padding: 0;
}
.query-date {
  display: flex;
  align-items: center;
}
.query-date-start,
.query-date-end {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px 24px;
}

/* 셀렉트 스타일 */
.form-control {
  width: 100%;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: auto;
  border: none;
  padding: 1px;
  font-weight: bold;
  text-align: center;
}

.query-submit {
  display: flex;
  align-items: center;
  /* padding: 10px 0px 10px 24px; */
  justify-content: space-between;
}

.query-submit-btn {
  border-radius: 100%;
  padding: 10px;
  background: #0faf3b;
  border-style: none;
  cursor: pointer;
}

.query-divide {
  height: 70%;
  width: 10px;
  border-left: 1px solid #ebebeb;
}

.query-title {
  font-size: 13px;
  font-weight: 700;
  padding: 0 0 5px 0;
}

.query-input {
  color: gray;
  font-size: 16px;
  letter-spacing: 1px;
}

.simple-query-form {
  position: absolute;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  visibility: hidden;
  height: 50px;
  display: grid;
  place-content: center;
}

.simple-query-form-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 20px;
  gap: 1rem;
  border-radius: 50px;
  border: 1px solid rgb(221, 221, 221);
  background-color: white;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.simple-query-form-btn .text {
  font-weight: bold;
  font-size: 13px;
}

.simple-query-form-btn .query-submit-btn {
  padding: 12px;
}

/* 메뉴 모달창 css */
/* 모달 스타일 */
#modalMenu {
  display: none;
  position: fixed;
  top: 70px;
  left: calc(100vw - 280px);

  z-index: 50;
  background-color: white;
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  max-height: 30vh;
  overflow-y: auto;
}

/* 메뉴 그룹 스타일 */
.menu-group {
  list-style-type: none;
  text-align: center;
}

.menu-group li a {
  padding: 0.7rem;
  text-decoration: none;
  color: black;
  display: block;
}

.menu-group li a:hover {
  background-color: #f0f0f0;
}

/* 그룹 구분선 */
.menu-divider {
  height: 1px;
  background-color: #ddd;
  margin: 5px 0;
}

.modal-backdrop {
  display: none !important;
}

@media screen and (max-width: 1024px) {
  header {
    padding: 10px 2rem;
  }

  .simple-query-form {
    width: 200px;
  }

  .query-form {
    width: 600px;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 10px 1rem;
  }
  /* 헤더 로고 모바일 */
  #header-logo {
    width: 102px;
    height: 32px;
  }

  .header-col.header-form {
    display: none;
  }

  .simple-query-form {
    width: 100px;
  }

  .simple-query-form-btn {
    background-color: #0faf3b;
    padding: 0px auto;
  }

  .text {
    display: none;
  }

  .query-form {
    width: auto;
    left: 10px;
    right: 10px;
  }

  .query-date-end {
    padding: 10px 10px;
  }
}
