@import "./reset.css";
@import "./header.css";
@import "./main.css";
@import "./footer.css";

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", "Noto Sans JP", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f9f9f9;
}

body.mapScrollHidden {
  overflow: hidden;
}
