<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>아이디 찾기</title>
<script src="../../static/js/jquery-3.7.1.min.js" th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body>
	<form th:action="@{/user/findPassword}" method="POST">
		아이디 : <input type="text" name="loginId" id="loginId">
		이름 : <input type="text" name="realName" id="realName">
		이메일 : <input type="text" name="email" id="email">
		
		<input type="submit" id="submitBtn" value="찾기">&nbsp;
		<input type="reset" id="resetBtn" value="초기화">
	</form>
</body>
</html>