<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>아이디 찾기</title>

    <!-- jQuery -->
    <script
      src="../../static/js/jquery-3.7.1.min.js"
      th:src="@{/js/jquery-3.7.1.min.js}"
    ></script>
    <script th:src="@{/js/toggle.js}" defer></script>

    <link rel="stylesheet" th:href="@{/css/user/login.css}" />

    <link
      rel="stylesheet"
      href="http://fonts.cdnfonts.com/css/airbnb-cereal-app"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header th:replace="~{fragments/header :: header}"></header>
    <!-- 아이디 찾기 처리 -->
    <div class="findId-container">
      <div class="mb-1">
        <span><strong>아이디 찾기</strong></span>
      </div>
      <br />
      <form th:action="@{/user/findLoginId}" method="POST">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            name="realName"
            id="realName"
            placeholder="이름을 입력하세요"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            name="email"
            id="email"
            placeholder="이메일을 입력하세요"
            required
          />
        </div>
        <input
          type="submit"
          class="btn btn-success w-100 loginBtn"
          value="찾기"
        />
      </form>
    </div>
    <footer th:replace="~{fragments/footerTest :: footer}"></footer>
  </body>
</html>
