<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>

    <!-- jQuery -->
    <script
      src="../../static/js/jquery-3.7.1.min.js"
      th:src="@{/js/jquery-3.7.1.min.js}"
    ></script>
    <script th:src="@{/js/toggle.js}" defer></script>

    <link rel="stylesheet" th:href="@{/css/user/login.css}" />

    <link
      rel="stylesheet"
      href="http://fonts.cdnfonts.com/css/airbnb-cereal-app"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header th:replace="~{fragments/header :: header}"></header>
    <!-- 로그인 처리 -->
    <div class="login-container">
      <div class="mb-1">
        <span><strong>로그인</strong></span>
      </div>
      <div class="division-bar"></div>
      <div class="mb-2">
        <span>あちこちうち에 오신 것을 환영합니다.</span>
      </div>
      <form th:action="@{/user/loginProc}" method="POST">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            name="loginId"
            id="loginId"
            placeholder="아이디를 입력하세요"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="비밀번호를 입력하세요"
            required
          />
        </div>
        <div class="mb-3">
          <span
            id="errorMessage"
            class="error-message"
            th:if="${error}"
            th:text="${exception}"
          ></span>
        </div>
        <input
          type="submit"
          class="btn btn-success w-100 loginBtn"
          value="로그인"
        />
        <div class="text-center mt-3 link-container">
          <a th:href="@{/user/findLoginId}">아이디 찾기</a>
          <span> | </span>
          <a th:href="@{/user/findPassword}">비밀번호 찾기</a>
          <span> | </span>
          <a th:href="@{/user/regist}">회원가입</a>
        </div>
      </form>
      <div class="divider">
        <span>또는</span>
      </div>
      <div class="login-buttons">
        <!-- Google 로그인 버튼 -->
        <div class="content">
          <a href="/oauth2/authorization/google" class="login-button google">
            <img
              th:src="@{/images/googleLogo.png}"
              src="../../static/images/googleLogo.png"
              alt="google 로고"
            />
            <span>구글 로그인</span>
          </a>
        </div>
        <!-- Kakao 로그인 버튼 -->
        <div class="content">
          <a href="/oauth2/authorization/kakao" class="login-button kakao">
            <img
              th:src="@{/images/kakaoLogo.png}"
              src="../../static/images/kakaoLogo.png"
              alt="Kakao 로고"
            />
            <span>카카오 로그인</span>
          </a>
        </div>
        <!-- Naver 로그인 버튼 -->
        <div class="content">
          <a href="/oauth2/authorization/naver" class="login-button naver">
            <img
              th:src="@{/images/naverLogo.png}"
              src="../../static/images/naverLogo.png"
              alt="Naver 로고"
            />
            <span>네이버 로그인</span>
          </a>
        </div>
      </div>
    </div>
    <footer th:replace="~{fragments/footerTest :: footer}"></footer>
  </body>
</html>