<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>회원가입</title>
    <!-- jQuery -->
    <script
      src="../../static/js/jquery-3.7.1.min.js"
      th:src="@{/js/jquery-3.7.1.min.js}"
    ></script>

    <script defer th:src="@{/js/user/regist.js}"></script>
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/js/toggle.js}" defer></script>

    <link rel="stylesheet" th:href="@{/css/user/regist.css}" />
    <link
      rel="stylesheet"
      href="http://fonts.cdnfonts.com/css/airbnb-cereal-app"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header th:replace="~{fragments/header :: header}"></header>
    <div class="signup-container">
      <div class="mb-1">
        <span><strong>회원가입</strong></span>
      </div>
      <form th:action="@{/user/regist}" method="POST">
        <div class="form-group">
          <label for="loginId">아이디</label>
          <div class="input-group">
            <input
              type="text"
              name="loginId"
              id="loginId"
              class="form-control left-side-btn"
              placeholder="ID 입력"
              required
            />
            <button
              type="button"
              id="chkDuplicationBtn"
              class="btn btn-secondary right-side-btn"
            >
              중복확인
            </button>
          </div>
          <div id="confirmId" style="font-size: 0.8em"></div>
        </div>
        <div class="form-group">
          <label for="password">비밀번호</label>
          <div class="input-group">
            <input
              type="password"
              name="password"
              id="password"
              class="form-control left-side-btn"
              placeholder="Password 입력"
              required
            />
            <span class="input-group-text right-side-btn"
              ><i class="fas fa-lock"></i
            ></span>
          </div>
        </div>
        <div class="form-group">
          <label for="passwordChk">비밀번호 확인</label>
          <div class="input-group">
            <input
              type="password"
              id="passwordChk"
              class="form-control left-side-btn"
              placeholder="Password 확인"
              required
            />
            <span class="input-group-text right-side-btn"
              ><i class="fas fa-lock"></i
            ></span>
          </div>
        </div>
        <div class="form-group">
          <label for="realName">이름</label>
          <input
            type="text"
            name="realName"
            id="realName"
            class="form-control"
            placeholder="이름 입력"
            required
          />
        </div>
        <div class="form-group">
          <label for="nickname">닉네임</label>
          <input
            type="text"
            name="nickname"
            id="nickname"
            class="form-control"
            placeholder="닉네임 입력"
            required
          />
        </div>
        <div class="form-group">
          <label for="age">나이</label>
          <input
            type="number"
            name="age"
            id="age"
            class="form-control"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">이메일</label>
          <div class="input-group">
            <input
              type="email"
              name="email"
              id="email"
              class="form-control left-side-btn"
              placeholder="email 입력"
              required
            />
            <button
              type="button"
              id="authBtn"
              class="btn btn-secondary right-side-btn"
            >
              인증번호 전송
            </button>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input
              type="text"
              name="chkAuthCode"
              id="chkAuthCode"
              class="form-control left-side-btn"
              placeholder="인증번호 입력"
            />
            <button type="button" id="chkAuthCodeBtn" class="btn btn-secondary">
              확인
            </button>
          </div>
          <span id="authMsg"></span>
        </div>
        <div class="form-group">
          <label>가능 언어</label><br />
          <div class="form-check">
            <input type="checkbox" name="languages" value="한국어" /> 한국어
            <input type="checkbox" name="languages" value="영어" /> 영어
            <input type="checkbox" name="languages" value="중국어" /> 중국어
            <input type="checkbox" name="languages" value="일본어" /> 일본어
          </div>
        </div>
        <div class="form-group">
          <label for="nationality">국적</label>
          <div class="select-container">
            <select name="nationality" id="nationality" class="form-control">
              <option value="한국">한국</option>
              <option value="미국">미국</option>
              <option value="영국">영국</option>
              <option value="중국">중국</option>
              <option value="일본">일본</option>
            </select>
            <i class="fas fa-chevron-down"></i>
          </div>
        </div>
        <div class="form-group">
          <label for="religion">종교</label>
          <div class="select-container">
            <select name="religion" id="religion" class="form-control">
              <option value="기독교">기독교</option>
              <option value="천주교">천주교</option>
              <option value="불교">불교</option>
              <option value="힌두교">힌두교</option>
              <option value="이슬람">이슬람</option>
              <option value="기타">기타</option>
            </select>
            <i class="fas fa-chevron-down"></i>
          </div>
        </div>
        <div class="form-group">
          <label for="gender">성별</label>
          <div class="select-container">
            <select name="gender" id="gender" class="form-control">
              <option value="0">남자</option>
              <option value="1">여자</option>
              <option value="2">비밀</option>
            </select>
            <i class="fas fa-chevron-down"></i>
          </div>
        </div>
        <div class="button-box">
          <input
            type="submit"
            id="submitBtn"
            class="btn btn-success w-100"
            value="회원가입"
          />
          <input
            type="reset"
            id="resetBtn"
            class="btn btn-secondary w-100 mt-2"
            value="초기화"
          />
        </div>
      </form>
    </div>
    <footer th:replace="~{fragments/footerTest :: footer}"></footer>
  </body>
</html>
