<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootpay 샌드박스 결제</title>

    <!-- Bootpay JavaScript SDK -->
    <script src="https://js.bootpay.co.kr/bootpay-5.1.0.min.js"></script>

    <!-- jQuery 추가 -->
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>

    <!-- JS 파일 추가 -->
    <script th:src="@{/js/subscribe/subscribe.js}"></script>
</head>
<body>
        <h2>Bootpay 샌드박스 결제 테스트</h2>

    <label for="pgSelect">결제 수단 선택:</label>
    <select id="pgSelect">
        <option value="kakaopay" selected>카카오페이</option>
        <option value="tosspay">토스페이</option>
        <option value="naverpay">네이버페이</option>
    </select>

    <br><br>

    <label for="price">결제 금액:</label>
    <input type="number" id="price" value="1000000000" readonly>

    <br><br>

    <label for="userId">유저 ID:</label>
    <input type="text" id="userId" th:value="${userId}" readonly>

    <input type="hidden" name="loginId" id="loginId" th:value="${loginId}" readonly>
    <input type="hidden" name="email" id="email" th:value="${email}" readonly>

    <br><br>

    <button id="subscribeButton">결제 요청</button>
</body>
</html>
