<!DOCTYPE html>

<html lang="ko" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Achiko 마이페이지</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/mypage/profileRegist.js}"></script>
    <link rel="stylesheet" th:href="@{/css/mypage/mypage.css}" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>
    <div class="logo">
      <a href="../index.html" th:href="@{/}">
        <img
          th:src="@{/images/logo-achiko.png}"
          alt="Achiko Logo"
          width="204px"
          height="64px"
        />
      </a>
    </div>

    <span>[[${loginUser}]]</span><br />
    <span>[[${userDTO}]]</span>
    <span>[[${reviewList}]]</span>
    <span>[[${reviewList}]]</span>
    <span>[[${reviewList}]]</span>
    <span>[[${reviewList}]]</span>
    <br />

    <div class="container">
      <h2>나의 프로필</h2>
      <h4>안녕하세요. [[${userDTO.nickname}]] ([[${loginId}]])님!</h4>
      <th:block th:if="${userDTO.isHost == 0}">
        <a href="@{/share/write}">
          <input type="button" value="호스트 되기" id="accountTypeChangeBtn" />
        </a>
      </th:block>
      <th:block th:if="${userDTO.isHost == 1}">
        <input
          type="button"
          value="게스트 전환하기"
          id="accountTypeChangeBtn"
        />
      </th:block>
      <br />

      <hr />
      <div class="profile-container">
        <div class="profileImage">
          <img
            th:if="${userDTO.profileImage != null}"
            th:src="@{userDTO.profileImage}"
            width="100"
            alt="프로필사진"
          />
          <img
            th:if="${userDTO.profileImage == null}"
            th:src="@{/images/user_icon.png}"
            width="35"
            alt="프로필사진"
          />
        </div>
        <div class="profile">
          <table class="profileTable">
            <tr>
              <th>닉네임:</th>
              <td>[[${userDTO.nickname}]]</td>
            </tr>
            <tr>
              <th>이메일:</th>
              <td>[[${loginUser.email}]]</td>
            </tr>
            <tr>
              <th>계정 유형:</th>
              <td>
                <th:block>
                  <span th:if="${userDTO.isHost == 1}">호스트</span>
                  <span th:ir="${userDTO.isHost == 0}">게스트</span>
                </th:block>
              </td>
            </tr>
            <tr>
              <th>소개글:</th>
              <td>
                <th:block>
                  <span th:if="${userDTO.bio == null}">
                    등록된 소개글이 없습니다.
                  </span>
                  <span th:unless="${userDTO.bio == null}"
                    >[[${userDTO.bio}]]
                  </span>
                </th:block>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <!-- 프로필 수정 버튼 -->
      <div
        class="btn-container"
        data-bs-toggle="modal"
        data-bs-target="#profileRegist"
      >
        <button class="btn btn-danger" id="openModal">프로필 입력/수정</button>
      </div>
      <br />

      <!-- 프로필 수정 모달 창 -->
      <div
        id="profileModal"
        class="modal fade"
        tabindex="-1"
        aria-labelledby="profileModalLabel"
        style="display: none"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2>나의 프로필 등록하기</h2>
              <span class="close" id="closeModal">닫기 &times;</span>
            </div>
            <div class="modal-body">
              <form
                id="profileForm"
                th:action="@{/mypage/profileRegist}"
                method="POST"
                enctype="multipart/form-data"
              >
                <input type="hidden" id="userId" th:value="${userDTO.userId}" />
                <input
                  type="hidden"
                  id="loginId"
                  th:value="${userDTO.loginId}"
                />

                <table>
                  <tr>
                    <th>프로필 이미지:</th>
                    <td>
                      <input
                        type="file"
                        id="profileImageInput"
                        accept="image/*"
                      />
                      <br />
                      <img
                        id="profilePreview"
                        th:src="@{${userDTO.profileImage}}"
                        width="50"
                        alt="프로필 미리보기"
                      />
                    </td>
                  </tr>

                  <tr>
                    <th>닉네임:</th>
                    <td>
                      <input
                        type="text"
                        name="nickname"
                        id="nickname"
                        th:value="${userDTO.nickname}"
                      />
                    </td>
                  </tr>

                  <tr>
                    <th>계정 유형:</th>
                    <td>
                      <input
                        type="radio"
                        name="isHost"
                        id="guest"
                        value="0"
                        checked
                      />게스트
                      <input
                        type="radio"
                        name="isHost"
                        id="host"
                        value="1"
                      />호스트
                    </td>
                  </tr>

                  <tr>
                    <th>소개글:</th>
                    <td>
                      <textarea
                        name="bio"
                        id="bio"
                        placeholder="내용을 입력하세요."
                        th:text="${userDTO.bio}"
                      ></textarea>
                    </td>
                  </tr>
                  <tr>
                    <th>구사 언어:</th>
                    <td>
                      <input
                        type="checkbox"
                        name="languages"
                        value="한국어"
                        checked
                      />한국어
                      <input
                        type="checkbox"
                        name="languages"
                        value="영어"
                      />영어
                      <input
                        type="checkbox"
                        name="languages"
                        value="중국어"
                      />중국어
                      <input
                        type="checkbox"
                        name="languages"
                        value="일본어"
                      />일본어
                    </td>
                  </tr>
                  <tr>
                    <th>나이:</th>
                    <td>
                      <input type="number" name="age" id="age" />
                    </td>
                  </tr>
                  <tr>
                    <th>국적:</th>
                    <td>
                      <select name="nationality" id="nationality">
                        <option value="한국">한국</option>
                        <option value="미국">미국</option>
                        <option value="영국">영국</option>
                        <option value="중국">중국</option>
                        <option value="일본">일본</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <th>종교:</th>
                    <td>
                      <input
                        type="radio"
                        name="religion"
                        value="기독교"
                      />기독교
                      <input
                        type="radio"
                        name="religion"
                        value="천주교"
                      />천주교
                      <input type="radio" name="religion" value="불교" />불교
                      <input
                        type="radio"
                        name="religion"
                        value="힌두교"
                      />힌두교
                      <input
                        type="radio"
                        name="religion"
                        value="이슬람"
                      />이슬람
                      <input type="radio" name="religion" value="기타" />기타
                    </td>
                  </tr>
                  <tr>
                    <th>성별:</th>
                    <td>
                      <input type="radio" name="gender" value="0" />남성
                      <input type="radio" name="gender" value="1" />여성
                      <input type="radio" name="gender" value="2" />비밀
                    </td>
                  </tr>
                </table>

                <div class="modal-footer">
                  <button
                    type="submit"
                    id="submitBtn"
                    class="btn btn-secondary"
                  >
                    정보 수정
                  </button>
                  <button type="reset" id="resetBtn" class="btn btn-light">
                    초기화
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- 활동내역 -->
      <h2>Achiko 활동내역</h2>

      <div class="section">
        <!-- viewing -->
        <h3>1. 예약된 뷰잉 <a href="/viewingList">자세히 보기</a></h3>
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th class="no">No.</th>
                <th class="title">셰어하우스</th>
                <th class="create_date">뷰잉 예정일</th>
              </tr>
            </thead>
            <tbody id="viewingTable">
              <th:block th:if="${viewingList == null or viewingList.isEmpty()}">
                <tr>
                  <td colspan="3" class="no-data">예정된 뷰잉이 없습니다.</td>
                </tr>
              </th:block>

              <!-- viewing 반복 구간 -->
              <tr th:each="viewing, status : ${viewingList}">
                <td th:text="${status.count}"></td>
                <!-- <td th:text="${(navi.page * navi.pageLimit) - navi.pageLimit + status.count}"></td> -->
                <td>
                  <a
                    th:href="@{/share/shareDetail(shareId=${viewing.shareId}, userId=${guestId})}"
                    th:text="${viewing.shareTitle}"
                  ></a>
                  <!-- 댓글이 있는 경우, 갯수 표시하기 -->
                  <!-- <th:block th:if="${viewing.replyCount != 0}">
                    <span style="font-weight: bold"
                      >([[${viewing.replyCount}]])</span
                    >
                  </th:block> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
